#nome {
    position: absolute; 
	width: 80%;
	height: 80%; /* altura da div*/
	left: 16%; /* a posição da largura da div*/
	top: 0%; /* a posição da altura da div*/
	background-color:#fcf7f7; /*cor do do fundo (div que eu tô definindo)*/
    /* border:2px solid black; ; */
  
 
      }
      
      

#Informacoespessoais {

    position: flex; 
	width: 12%; /* largura da div*/
	height: 20%; /* altura da div*/
	left: 0%; /* a posição da largura da div*/
	top:45%; /* a posição da altura da div*/

}
#Linguagens {
    position: flex;
    width:20%;
    height:2%;
    left: 30;
    top: 75%;
}

#Cursos {
    position: flex;
    width:20%;
    height:2%;
    left: 30;
    top: 75%;
}